body[data-sidebar=confia] .vertical-menu{background:#1A4A7B}
body[data-sidebar=confia] #sidebar-menu ul li a{color:#b1b1b1}
body[data-sidebar=confia] #sidebar-menu ul li a i{color:#b1b1b1}
body[data-sidebar=confia] #sidebar-menu ul li a:hover{color:#fff}
body[data-sidebar=confia] #sidebar-menu ul li a:hover i{color:#fff}
body[data-sidebar=confia] #sidebar-menu ul li ul.sub-menu li a{color:#b1b1b1;background:0 0;-webkit-box-shadow:none;box-shadow:none}
body[data-sidebar=confia] #sidebar-menu ul li ul.sub-menu li a:hover{color:#fff}
body[data-sidebar=confia] #sidebar-menu ul>li>a.mm-active{background-color:#1A4A7B; color: #fff}
body[data-sidebar=confia].vertical-collpsed{min-height:1200px}
body[data-sidebar=confia].vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>a{background:#0f2d4b;color:#fff}
body[data-sidebar=confia].vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>a i{color:#fff}
body[data-sidebar=confia].vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>ul a{color:#b1b1b1}
body[data-sidebar=confia].vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>ul a:hover{color:#fff}
body[data-sidebar=confia].vertical-collpsed .vertical-menu #sidebar-menu>ul ul{background-color:#0f2d4b}
body[data-sidebar=confia].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active{color:#fff!important}
body[data-sidebar=confia].vertical-collpsed .vertical-menu #sidebar-menu ul li.mm-active .active i{color:#fff!important}
body[data-sidebar=confia] .mm-active{color:#fff!important}
body[data-sidebar=confia] .mm-active>a{color:#fff!important;background-color:#0f2d4b}
body[data-sidebar=confia] .mm-active>a i{color:#fff!important}
body[data-sidebar=confia] .mm-active>i{color:#fff!important}
body[data-sidebar=confia] .mm-active .active{color:#fff!important;background-color:#0f2d4b}
body[data-sidebar=confia] .mm-active .active i{color:#fff!important}
body[data-sidebar=confia] .menu-title{color:#b1b1b1}
body[data-sidebar=confia] .navbar-brand-box {background:#0f2d4b;color:#fff;}
